.Expense {
    display: flex;
    flex-direction: row;
    min-height: 630px;
    background: rgb(51,8,100);
    background: linear-gradient(180deg, rgba(51,8,100,1) 0%, rgba(74,9,121,1) 32%, rgba(88,0,255,1) 100%);
    padding-top: 70px;
    z-index: 50;
}
.expenseLeft {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}
.expenseRight {
    position: absolute;
    right: 0;
    width: 30%;
    height: 90vh;
}
.addExpense {
    height: 80vh;
    background-color: white;
    margin: 15px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
}
.addExpense img {
    height: 30%;
    width: 30%;
    margin: 0 auto;
}
.expenseRight input {
    width: 80%;
    margin: 5px auto;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}
.expenseRight button {
    width: 40%;
    margin: 15px 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    color: black;
}
.expenseRight button:hover {
    background-color: rgb(193, 243, 57);
}
.red {
    border: 1px solid red;
    background-color: lightcoral;
}
.normal {
    border-width: 1px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.update {
    background-color: aquamarine;
}
.cancel {
    background-color: rgb(241, 85, 85);
}

@media (max-width: 500px) {
    .Expense {
        flex-direction: column;
        min-height: 100%;
        padding-top: 70px;
    }
    .expenseLeft {
        width: 100%;
        height: 100%;
        overflow: scroll;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .expenseRight {
        width: 55%;
        height: 90vh;
        padding: 0;
    }
}
@media (max-height: 600px) {
    .expenseRight {
        height: 600px;
    }
    .addExpense {
        height: 560px;
    }
}