.Expense {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    background-color: rgb(177, 174, 174);
    padding-top: 10vh;
}
.expenseLeft {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}
.expenseRight {
    position: fixed;
    right: 0;
    width: 30%;
    height: 90vh;
}
.addExpense {
    height: 80vh;
    background-color: white;
    margin: 5vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.addExpense img {
    height: 50%;
    width: 50%;
    margin: 0 auto;
}
.expenseCard {
    width: 21%;
    background-color: white;
    margin: 20px 6%;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 230px;
}
.expenseCard img {
    height: 30%;
    width: 30%;
    margin: 20px 0px;
}
.expenseCard p {
    margin: 0;
}
.expenseCard i {
    position: relative;
    left: 40%;
    font-size: 20px;
}