.SingleUser {
    position: relative;
    top: 170px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 64vw;
    background-color: rgb(245, 167, 138);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.SingleUser p {
    padding: 10px;
    font-size: 18px;
}

.SingleUser p:nth-child(1) {
    width: 10%;
}
.SingleUser p:nth-child(2) {
    width: 20%;
}
.SingleUser p:nth-child(3) {
    width: 35%;
}
.SingleUser p:nth-child(4) {
    width: 15%;
}
.SingleUser p:nth-child(5) {
    width: 20%;
    border: none;
}

.SingleUser i {
    font-size: 24px;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
}