.Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #330864;
    height: 70px;
    vertical-align: center;
    color: white;
    position: fixed;
    z-index: 100;
}

.HeaderLeft {
    margin: 0px 10px;
    font-size: 24px;
}
.HeaderLeft h2 {
    margin: 10px 0px;
}

.HeaderRight {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.HeaderRight p {
    padding: 0px 10px;
    font-size: 22px;
    cursor: pointer;
    margin: auto 5px;
    font-weight: bold;
}

.HeaderRight p:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
  
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

@media (max-width: 500px) {
    .HeaderLeft h2 {
        margin: 15px 0px;
        font-size: 18px;
    }
    .HeaderRight p {
        padding: 0px;
        font-size: 16px;
        margin: auto 0px;
    }
}