.Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #536162;
    height: 10vh;
    vertical-align: center;
    color: white;
    position: fixed;
}

.HeaderLeft {
    margin: 0px 10px;
}

.HeaderRight {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

.HeaderRight p {
    padding: 0px 10px;
    font-size: 22px;
    cursor: pointer;
    margin: auto 5px;
}