.outer {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 500;
    background-color: white;
}
.modalImage {
    width: 50%;
}
.modalImage img {
    width: 100%;
    height: 480px;
}
.Modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
}
.Modal h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.modalp {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.line {
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
}

.modalGroup {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}
.modalField {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black
}
.modalField p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
}
.modalField p:nth-child(2) {
    font-size: 18px;
}
.red {
    background-color: rgb(235, 122, 122);
}
.green {
    background-color: lightgreen;
}

.Modal button {
    width: 150px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
.Modal button:hover {
    border: 2px solid gold;
    background-color: lightsalmon;
}

@media (max-width: 500px) {
    .Modal {
        width: 80%;
        height: 70%;
    }
}