.header {
    background: rgb(65,61,130);
    background: linear-gradient(90deg, rgba(65,61,130,1) 0%, rgba(61,212,131,1) 45%, rgba(0,176,255,1) 94%);
    height: 10vh;
    vertical-align: center;
}
.header h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 40px;
}
.Signup {
    height: 90vh;
    min-height: 580px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(65,61,130);
    background: linear-gradient(90deg, rgba(65,61,130,1) 0%, rgba(61,212,131,1) 45%, rgba(0,176,255,1) 94%);
}
.signupcard {
    display: flex;
    flex-direction: column;
    width: 400px;
    /* height: 75vh; */
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 10px;
}
.signupcard button {
    width: 30%;
    margin: 20px auto 0px auto;
    padding: 10px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f0c929;
    border: 1px solid transparent;
}
.signupcard input {
    width: 80%;
    margin: 4px auto;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-width: 1px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.red {
    border: 1px solid red;
    background-color: lightcoral;
}
.normal {
    border-width: 1px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}

@media (max-width: 450px) {
    .signupcard {
        width: 80%;
    }
}